body{
    width: 95vw;
    height: 95vh;
    background: #0090c0;

    font-family: "Arial";
}

.background-image{
    width: 100%;
    height: 100%;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.full-size{
    width: 95vw;
    height: 95vh;
}

.max-width{
    width: 100%;
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: start;
}

.time{
    font-size: 50px;
    color: #ffffff;
}

.bold{
    font-weight: bold;
}

.temp-min-color{
    color: #00ffff;
}

.red{
    color: #ff0f0f;
}

.temp-current-color{
    color: #00ff00;
}

.weather-margin{
    margin-left: 20px;
}

.white{
    color: #ffffff;
}

.orange{
    color: #ff7300;
}

.scroll{
    overflow-x: auto;
    padding-bottom: 10px;
}

.dc-border{
    width: 300px;
    height: 70px;

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;


    border-radius: 10px;
    background: #222222;
}

.stock-border-red{
    width: 150px;
    height: 100px;

    margin-left: 0px;
    margin-right: 10px;


    border-radius: 10px;
    background: #ff0000;
}

.stock-border-green{
    width: 150px;
    height: 100px;


    margin-left: 0px;
    margin-right: 10px;


    border-radius: 10px;
    background: #00ff00;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.flex{
    display: flex;
}

.green{
    color: #00ff00;
}

.blue{
    color: #00ffff;
}

.cup-image{
    transform: translateY(55px);
    width: 250px;
}

.pointer{
    cursor: pointer;
}

.pb{
    width: 80px;
    border-radius: 50%;
}

.pb-select{
    margin: 10px;
}

.main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 10px;
}

.dice-big-layout{
    visibility: visible;
}


.dice-small-layout{
    height: 0px;
    overflow: hidden;
    visibility: collapse;
}

@media (max-width: 800px) {
    .dice-big-layout{
        visibility: hidden;
    }

    .dice-small-layout{
        height: auto;
        visibility: visible;
    }
}
