.register-button {
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: none;

    border-radius: 10px;

    font-size: 25px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 2px;

    border: none;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.tutorial-button{
    display: flex;
    height: 30px;

    margin: 2px;

    border: none;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.black{
    color: black;
}

.game-button-drop{
    background: #b4c9ff;
}

.game-button-move{
    background: #b4eeff;
}

.game-button-view{
    background: #e9ffc1;
}

.game-button-reveal{
    background: #ffadbc;
}

.register-button-layout{
    display: flex;
}

input {
    outline: none !important;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    background-image: linear-gradient(90deg, #f7deff, #e7cbff);
}

.register-input {
    max-width: 400px;
    width: 90vw;
    height: 30px;
}

input:focus {
    border-color: #4299E1
}

.instructions-background{
    background: rgba(0, 0, 0, 0.28);
}

.profile-picture{
    width: 50px;
}

.player-card{
    margin: 10px;

    background: #00000022;
    width: 180px;
    height: 160px;
    border-radius: 20px;
}

.player-card-space{
    height: 20px
}

.dice-border{
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;

    margin: 2px;

    display: flex;


    border: none;

    cursor: pointer;

    font-size: 15px;
}

.dice-border-m{
    width: 100px;

    margin: 2px;

    padding: 10px;
    font-weight: bold;
    border-radius: 8px;

    display: flex;

    justify-content: center;

    border: none;

    cursor: pointer;

    font-size: 15px;
}

.line1 {
    background-image: linear-gradient(90deg, #c9ff8a, #8affce);
    box-shadow: 0px 0px 20px #c9ff8a;
}

.line2 {
    background-image: linear-gradient(90deg, #83ffa6, #83ffee);
    box-shadow: 0px 0px 20px #83ffee;
}

.line3 {
    background-image: linear-gradient(90deg, #5cf0ff, #3b6fff);
    box-shadow: 0px 0px 20px #5cf0ff;
}

.line4 {
    background-image: linear-gradient(90deg, #8999ff, #c689ff);
    box-shadow: 0px 0px 20px #8999ff;
}

.line5 {
    background-image: linear-gradient(90deg, #ff88d9, #ff8888);
    box-shadow: 0px 0px 20px #ff88d9;
}

.line6 {
    background-image: linear-gradient(90deg, #ffa600, #d9ff00);
    box-shadow: 0px 0px 20px #ffa600;
}




.dice-line1{
    background: #c9ff8a;
}
.dice-line2{
    background: #83ffa6;
}
.dice-line3{
    background: #5cf0ff;
}
.dice-line4{
    background: #8999ff;
}
.dice-line5{
    background: #ff88d9;
}
.dice-line6{
    background: #ffa600;
}



.prim-color {
    color: #ffa600;
}

.prim-color-background {
    background-image: linear-gradient(90deg, #ff9100, #ffee00);
    box-shadow: 0px 0px 20px #ff9100;
}

.powerup-grey {
    background-image: linear-gradient(90deg, #838383, #5f5f5f);

}

.texture{
    background-image: url("./texture1.png");
}

.shadow {
    box-shadow: 0px 0px 20px #ffa600;
}

.sec-color-text{
    color: #5cf0ff
}

.white-background{
    background: #b7b7b7;
}

.dice-image{
    margin-top: 295px;
    width: 50px;
}

.crown{
    width: 45px;
    height: 20px;
    transform: translateY(13px);
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-box-text{
    color: #76ffba;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.powerup-border{
    width: 200px;
    height: 50px;
}

.powerup-icon{
    width: 45px;
    padding: 10px
}

.audio-border{
    display: flex;
    padding: 2px;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.audio-slider-border{
    width: 100px;
    height:auto;
}

.public-room{
    width: 300px;
    height: 50px;
    margin: 15px;
}

.dashboard-room{
    width: 500px;
    height: 50px;
    margin: 15px
}

.dashboard-room-layout{
    height: 200px;
    overflow-y: scroll;
}

.link-background{
    width: auto;
    background: #e3e3e3;
    padding-right: 5px;
    padding-left: 5px;
}

.room-link{
    padding-top: 25px;
}

.link-text{
    font-size: 22px;
}

.game-mobile-padding{
    padding-top: 0px;
}

.progress-display{
    display: flex;
}

.progress-display-mobile{
    display: none;
}

.game-button-layout{
    display: inline;
}

.heart{
    width: 30px;
    margin: 5px;
}

.room-mobile-layout{
    padding-top: 0px;
}

@media (max-width: 830px) {
    .game-mobile-padding{
        padding-top: 50px;
    }

    .room-mobile-layout{
        padding-top: 40px;
    }
}

@media (max-width: 800px) {
    .dice-image{
        margin-top: 180px;
        width: 30px;
    }

    .game-button-layout{
        display: flex;
        justify-content: center;
    }

    .heart{
        width: 20px;
    }

    .player-card{
        width: 150px;
        height: 125px;
    }

    .player-card-space{
        height: 5px
    }
}

@media (max-width: 630px) {
    .register-button-layout{
        display: inline-block;
    }

    .link-background{
        width: 95vw;
    }
}

@media (max-width: 560px) {
    .progress-display{
        display: none;
    }

    .progress-display-mobile{
        display: flex;
    }
}

@media (max-width: 500px) {
    .link-text{
        font-size: 5vw;
    }
}